@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-inter: "Inter", "Playfair Display", sans, sans-serif;
    --font-playfair: "Playfair Display", "Inter", sans, sans-serif;

    --color-primary: #222222;
    --color-secondary: #E9E9E9;
}

@layer base {
    * {
        @apply outline-none appearance-none;
    }

    [contenteditable]:empty:before{
        content: attr(placeholder);
        pointer-events: none;
        display: block; /* For Firefox */
        color: grey;
    }

    html {
        @apply font-inter;
    }

    button, a {
        @apply cursor-pointer rounded;
    }

    input {
        @apply border border-gray-200
    }

    img, object {
        overflow-clip-margin: unset;
    }

    * > i {
        @apply !flex !justify-center !items-center;
    }

    ::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-primary/50;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
}

@layer components {
    /* div#story, div#story > * {
        all: initial;
    } */

    div#story br {
        @apply !hidden;
    }
}