@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-inter: "Inter", "Playfair Display", sans, sans-serif;
    --font-playfair: "Playfair Display", "Inter", sans, sans-serif;

    --color-primary: #222222;
    --color-secondary: #E9E9E9;
}

@layer base {
    * {
        @apply outline-none appearance-none;
    }

    html {
        @apply font-inter;
    }

    button {
        @apply cursor-pointer;
    }

    input {
        @apply border border-gray-200
    }

    img {
        overflow-clip-margin: unset;
    }

    button > i {
        @apply flex justify-center items-center;
    }
}